[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/bundle/vim-twig"]
	path = vim/bundle/vim-twig
	url = git://github.com/beyondwords/vim-twig.git
[submodule "vim/bundle/localvimrc"]
	path = vim/bundle/localvimrc
	url = git://github.com/vim-scripts/localvimrc
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = git@github.com:shanesmith/ack.vim.git
[submodule "vim/bundle/recover"]
	path = vim/bundle/recover
	url = https://github.com/chrisbra/Recover.vim
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/delimitmate"]
	path = vim/bundle/delimitmate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/molokai"]
	path = vim/bundle/molokai
	url = git://github.com/vim-scripts/molokai.git
[submodule "vim/bundle/aldmeris"]
	path = vim/bundle/aldmeris
	url = git://github.com/veloce/vim-aldmeris.git
[submodule "vim/bundle/javascript"]
	path = vim/bundle/javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/matchit"]
	path = vim/bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip
[submodule "vim/bundle/argtextobj"]
	path = vim/bundle/argtextobj
	url = https://github.com/vim-scripts/argtextobj.vim
[submodule "vim/bundle/indent-object"]
	path = vim/bundle/indent-object
	url = https://github.com/michaeljsmith/vim-indent-object
[submodule "vim/bundle/honza-snippets"]
	path = vim/bundle/honza-snippets
	url = git://github.com/honza/vim-snippets.git
[submodule "vim/bundle/smartword"]
	path = vim/bundle/smartword
	url = git://github.com/kana/vim-smartword.git
[submodule "vim/bundle/sudoedit"]
	path = vim/bundle/sudoedit
	url = git://github.com/chrisbra/SudoEdit.vim.git
[submodule "vim/bundle/html5"]
	path = vim/bundle/html5
	url = git://github.com/othree/html5.vim.git
[submodule "vim/bundle/php"]
	path = vim/bundle/php
	url = git://github.com/StanAngeloff/php.vim.git
[submodule "vim/bundle/seek"]
	path = vim/bundle/seek
	url = https://github.com/goldfeld/vim-seek.git
[submodule "vim/bundle/emmet"]
	path = vim/bundle/emmet
	url = https://github.com/mattn/emmet-vim/
[submodule "vim/bundle/expand"]
	path = vim/bundle/expand
	url = https://github.com/terryma/vim-expand-region
[submodule "vim/bundle/unimpared"]
	path = vim/bundle/unimpared
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "vim/bundle/dbgpavim"]
	path = vim/bundle/dbgpavim
	url = https://github.com/brookhong/DBGPavim
[submodule "vim/bundle/signature"]
	path = vim/bundle/signature
	url = https://github.com/kshenoy/vim-signature
[submodule "vim/bundle/signify"]
	path = vim/bundle/signify
	url = https://github.com/mhinz/vim-signify
[submodule "vim/bundle/repeat"]
	path = vim/bundle/repeat
	url = https://github.com/tpope/vim-repeat
[submodule "vim/bundle/ctrlp-funky"]
	path = vim/bundle/ctrlp-funky
	url = https://github.com/tacahiroy/ctrlp-funky
[submodule "vim/bundle/json"]
	path = vim/bundle/json
	url = https://github.com/elzr/vim-json
[submodule "vim/bundle/airline"]
	path = vim/bundle/airline
	url = https://github.com/bling/vim-airline
[submodule "vim/bundle/less"]
	path = vim/bundle/less
	url = https://github.com/groenewege/vim-less
[submodule "vim/bundle/autopairs"]
	path = vim/bundle/autopairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "vim/bundle/searchcomplete"]
	path = vim/bundle/searchcomplete
	url = https://github.com/vim-scripts/SearchComplete
[submodule "vim/bundle/colorizer"]
	path = vim/bundle/colorizer
	url = https://github.com/lilydjwg/colorizer
[submodule "vim/bundle/abolish"]
	path = vim/bundle/abolish
	url = https://github.com/tpope/vim-abolish
[submodule "vim/bundle/neocomplete"]
	path = vim/bundle/neocomplete
	url = https://github.com/Shougo/neocomplete.vim
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/bundle/xmledit"]
	path = vim/bundle/xmledit
	url = https://github.com/sukima/xmledit
[submodule "vim/bundle/lesscss"]
	path = vim/bundle/lesscss
	url = https://github.com/vitalk/vim-lesscss
[submodule "vim/bundle/maximizer"]
	path = vim/bundle/maximizer
	url = https://github.com/szw/vim-maximizer
[submodule "vim/bundle/tcomment"]
	path = vim/bundle/tcomment
	url = https://github.com/tomtom/tcomment_vim
[submodule "vim/bundle/visualstar"]
	path = vim/bundle/visualstar
	url = https://github.com/thinca/vim-visualstar
[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
	url = https://github.com/sjl/gundo.vim
[submodule "vim/bundle/css3-syntax"]
	path = vim/bundle/css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax
[submodule "vim/bundle/xolox-misc"]
	path = vim/bundle/xolox-misc
	url = https://github.com/xolox/vim-misc
[submodule "vim/bundle/notes"]
	path = vim/bundle/notes
	url = https://github.com/xolox/vim-notes
[submodule "vim/bundle/wildfire"]
	path = vim/bundle/wildfire
	url = https://github.com/gcmt/wildfire.vim
[submodule "vim/bundle/easy-align"]
	path = vim/bundle/easy-align
	url = https://github.com/junegunn/vim-easy-align
