vim/bundle/
vim/swaps/
vim/backups/
vim/undodir/
vim/autoload/plug.vim.old

config/karabiner/automatic_backups/*

bin/errcheck
bin/goimports
bin/golangci-lint
bin/golint

blesh/cache.d/

Brewfile.lock.json
