[user]
	name = Shane Smith
	email = shane.smith.baz@gmail.com

[alias]
	st = status
	unstage = reset HEAD --
	lol = log --pretty=oneline --abbrev-commit --graph --decorate
	lolf = log --pretty=oneline --abbrev-commit --graph --decorate --name-status
	lall = log --pretty=oneline --abbrev-commit --graph --decorate --all
	logf = log --name-status
	co = checkout
	pop = stash pop
	k = !gitk

[color]
	ui = auto

[core]
	editor = vim

[merge]
	defaultToUpstream = true
