[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter
[submodule "vim/bundle/better-css"]
	path = vim/bundle/better-css
	url = git://github.com/vim-scripts/Better-CSS-Syntax-for-Vim.git
[submodule "vim/bundle/vim-twig"]
	path = vim/bundle/vim-twig
	url = git://github.com/beyondwords/vim-twig.git
[submodule "vim/bundle/localvimrc"]
	path = vim/bundle/localvimrc
	url = git://github.com/vim-scripts/localvimrc
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/recover"]
	path = vim/bundle/recover
	url = https://github.com/chrisbra/Recover.vim
[submodule "vim/bundle/eunuch"]
	path = vim/bundle/eunuch
	url = git://github.com/tpope/vim-eunuch
[submodule "vim/bundle/zoomwin"]
	path = vim/bundle/zoomwin
	url = git://github.com/vim-scripts/ZoomWin.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/neocomplcache"]
	path = vim/bundle/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/delimitmate"]
	path = vim/bundle/delimitmate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = https://github.com/godlygeek/tabular
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/molokai"]
	path = vim/bundle/molokai
	url = git://github.com/vim-scripts/molokai.git
[submodule "vim/bundle/aldmeris"]
	path = vim/bundle/aldmeris
	url = git://github.com/veloce/vim-aldmeris.git
[submodule "vim/bundle/javascript"]
	path = vim/bundle/javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/matchit"]
	path = vim/bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip
[submodule "vim/bundle/argtextobj"]
	path = vim/bundle/argtextobj
	url = https://github.com/vim-scripts/argtextobj.vim
[submodule "vim/bundle/indent-object"]
	path = vim/bundle/indent-object
	url = https://github.com/michaeljsmith/vim-indent-object
